.SmileyShield
  // positioning
  display: flex
  // dimensions
  margin: 5px
  height: 80px
  width: 100px
  // content
  flex-direction: column
  justify-content: center
  // content
  text-align: center
  // border
  border-radius: 40px
  // debug
  // outline: 1px blue solid
  img
    // display: inline
    // position
    position: absolute
    // dimensions
    &.smiley
      left: -5px
      top: 20px
      width: 60px
      // transform: rotate(-30deg)
      z-index: 100
    &.shield
      // transform: rotate(15deg)
      // position
      top: 8px
      right: -5px
      // right: -15px
      // dimensions
      width: 60px
