.SmileyShield
  background-color: transparent
  border: 6px black double
  display: flex
  flex-direction: column
  justify-content: center
  border-radius: 50px
  position: relative
  margin: auto 10px
  width: 110px
  height: 90px
  // debug
  // outline: 1px blue solid
  img
    &.personImage
    // position: absolute
    max-width: 100%
    margin: 0px auto
    &.emojiImage
      position: absolute
      width: 60px
      bottom: -5px
      left: -20px
