.SmileyShield
  background-color: transparent
  display: flex
  flex-direction: column
  justify-content: center
  border-radius: 100px
  position: relative
  margin: 0 10px
  width: 25%
  // debug
  // outline: 1px blue solid
  img
    &.personImage
    // position: absolute
    max-width: 100%
    margin: 0px auto
    &.emojiImage
      position: absolute
      width: 80px
      bottom: -5px
      left: -20px
