.TeamNameCard
  // positioning
  display: flex
  // flex-direction: row
  margin: 5px
  // dimensions
  // height: 80px
  width: 100%
  // content
  text-align: center
  justify-content: center
  letter-spacing: 2px
  // debug
