@import node_modules/materialize-css/sass/components/_color-variables

.TeamNameCard
  // fonts
  font-family: Aladin
  font-size: 40px
  // positioning
  display: flex
  // flex-direction: row
  margin: 5px
  // dimensions
  // height: 80px
  width: 100%
  // content
  text-align: center
  justify-content: center
  letter-spacing: 2px
  // debug
  // outline: 1px red solid
  .img-wrapper
    width: 80%
    //
    // outline: 2px blue solid
    img
      width: 100%
      height: 100%
  .score-card-wrapper
    display: flex
    width: 20%
    // in-box
    font-family: Yesteryear
    text-decoration: underline
    flex-direction: column
    justify-content: center
    color: white
    text-shadow: 2px 2px 0px black
    background-color: color("green", "darken-1")
