.TeamNameCard
  // fonts
  font-family: Aladin
  font-size: 40px
  // positioning
  display: flex
  // flex-direction: row
  margin: 5px
  // dimensions
  // height: 80px
  width: 100%
  // content
  text-align: center
  justify-content: center
  letter-spacing: 2px
  // debug
  // outline: 1px red solid
  .img-wrapper
    width: 80%
    //
    // outline: 2px blue solid
    img
      width: 100%
      height: 100%
