@import node_modules/materialize-css/sass/components/_color-variables

.ScoreCard
  display: flex
  width: 110px
  height: 90px
  border: 6px black double
  margin: auto 5px
  // out-box
  border-radius: 60px
  // in-box
  font-family: Calistoga
  flex-direction: column
  justify-content: center
  font-size: 38px
  text-align: center
  text-shadow: 2px 2px 0px white
