.ScoreCard
  // box
  display: flex
  position: absolute
  right: 8px
  top: 0px
  // on-box
  // border-radius: 30px
  height: 60px
  width: 60px
  // in-box
  font-weight: bold
  font-family: "monospace"
  text-align: center
  flex-direction: column
  justify-content: center
