@import node_modules/materialize-css/sass/components/_color-variables

.ScoreCard
  display: flex
  width: 25%
  min-height: 100%
  margin: 5px
  // out-box
  border-radius: 60%
  // in-box
  font-family: Calistoga
  flex-direction: column
  justify-content: center
  color: white
  font-size: 42px
  text-align: center
  text-shadow: 2px 2px 0px black
  background-color: color("green", "darken-1")
  // debug
  // outline: 1px blue solid
