.TeamNameInTable
  display: inline-block
  width: 100%
  padding: 0 10px
  .card
    margin: 0px
    display: flex
    flex-direction: column
    justify-content: space-around
    text-align: center
    height: 100%
    width: 100%
    top: 0
    h4
      font-family: 'Beth Ellen'
      padding: 0px
      display: block
      margin: 0px
