@import node_modules/materialize-css/sass/components/color-variables

.carousel
  margin-top: 5px
  min-height: 680px
  .carousel-item
    padding: 22px
ul.indicators
  background-color: color("blue", "lighten-3")
