html
  height: 100vh
  background-color: #95E8F3
.App
  margin: 0 auto
  min-height: 100vh
  border: 2px black solid
  background: url(/img/mario-bg.png) repeat-x bottom
  background-attachment: fixed
  .container
    // box
    position: relative
    .ScoreCard
      // box
      display: flex
      position: absolute
      right: -10px
      top: -10px
      // on-box
      border-radius: 30px
      height: 60px
      width: 60px
      // in-box
      font-weight: bold
      font-family: "Yesteryear"
      text-align: center
      flex-direction: column
      justify-content: center
      // debug
      // outline: 1px blue solid
