html
  background-color: #95E8F3
  min-height: 100vh
  border: 3px blue dashed
  padding: 0

body
  outline: 3px red dashed
  max-width: 1500px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: auto
  // min-height: 95vh
  margin: 0 auto
  margin-top: 0px !important
  padding-top: 0px !important
  background: url(/img/mario-bg.png) no-repeat bottom #95E8F3
  // background-position: absolute

.App
  outline: 3px orange dashed
