.TeamScoreDetailsSlide
  table
    // dimensions
    width: 100%
    // borders
    border-collapse: collapse
    // debug
    // outline: 1px red solid
    td
      // dimensions
      width: 50%
      // content
      padding: 0
      // outline: 1px blue solid
