.TeamScoreDetailsSlide
  // content
  padding: 10px
  table
    // dimensions
    width: 100%
    // borders
    border-collapse: collapse
    // debug
    // outline: 1px red solid
    tr
      border: none
      th
        .card
          display: flex
          height: 40px
          // out-box
          margin: 0px
          // in-box
          justify-content: center
          flex-direction: column
          font-size: 16px
          text-align: center
    td
      .ScoreCell
        // box
        display: flex
        height: 80px
        width: 80px
        // out box
        margin: 0
        // on box
        border-radius: 40px
        // in box
        flex-direction: column
        justify-content: center
        text-align: center
        font-family: Yesteryear
        padding: 0
        h3
          padding: 5px
          // height: 20px
          margin: 0px
      .TotalScoreCell
        // box
        display: flex
        height: 80px
        width: 80px
        // on-box
        border-radius: 40px
        // out box
        margin: 0
        // inbox
        flex-direction: column
        justify-content: center
        text-align: center
        padding: 0
        font-family: Yesteryear
        h3
          margin: 0px
          font-weight: bold
